<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <%- include('../includes/navigation.ejs'); %> 
    <main class="main">
        <%- include('../includes/flash-message.ejs', { errorMessage, successMessage }) %> 
        <h1 class="primary-title">Login</h1>
        <form class='form' action="/login" method="POST">
            <div class="form__control">
                <label for="email">Email</label>
                <input 
                    class='<%= validationErrors.find(err => err.param === "email") ? "invalid" : ""%>'
                    type="text" 
                    name="email" 
                    id="email"  
                    required
                    value="<%= input ? input.email : '' %>">
            </div>
            <div class="form__control">
                <label for="password">Password</label>
                <input 
                    class='<%= validationErrors.find(err => err.param === "password") ? "invalid" : ""%>' 
                    type="password" 
                    name="password" 
                    id="password" 
                    required>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class='btn' type="submit">Login</button>
        </form>
        <div class="mt-md">
            <a href="/reset">Forgot your password? Click here to reset.</a>
        </div>
    </main>
<%- include('../includes/end.ejs'); %> 