<div class="backdrop"></div>
<header class="main-header">
    <nav class='main-header__nav'>
        <a href="/"><i class="fas fa-home icon"></i></a>
        <ul class='main-header__navbar'>
            <li class="main-header__nav-item <%= path === '/shop' ? 'active' : '' %>"><a href="/shop">Shop</a></li>
            <li class="main-header__nav-item <%= path === '/product-list' ? 'active' : '' %>"><a href="/product-list">Products</a></li>
            <li class="main-header__nav-item <%= path === '/cart' ? 'active' : '' %>"><a href="/cart">Cart</a></li>
            <li class="main-header__nav-item <%= path === '/orders' ? 'active' : '' %>"><a href="/orders">Orders</a></li>
            <li class="main-header__nav-item <%= path === '/admin/add-product' ? 'active' : '' %>"><a href="/admin/add-product">Add</a></li>
            <li class="main-header__nav-item <%= path === '/admin/admin-products' ? 'active' : '' %>"><a href="/admin/admin-products">Admin Products</a></li>
        </ul>
    </nav>
    <a id="side-menu-toggle"><i class="fas fa-bars"></i></a>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="mobile-nav__item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
        </ul>
</nav>