<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <%- include('../includes/navigation.ejs'); %> 
    <main class="main">
        <h1 class="primary-title">Cart</h1>
            <% if (cart.length) { %> 
            <div class="cart">
                <% for (let product of cart) { %> 
                <article class="cart-item">

                    <a class="cart-item__image-container" href="/product-details/<%= product.productId._id %>">
                        <img class="cart-item__image" src="<%= product.productId.image.url %>" alt="<%= product.productId.title %>">
                        <h1 class="cart-item__title">
                            <%= product.productId.title %>
                        </h1>
                    </a>

                    <div class="cart-item__description">
                        <p class="cart-item__description--text"><%= product.productId.description %></p>
                    </div>

                    <span class="cart-item__price">$<%= product.productId.price %></span>
                    <div class="cart-item__qty">
                        <form action="/cart/decrease" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="cart-item__qty--button" type="submit" id="decBtn" title="decrease quantity"><i class="fas fa-minus-square"></i></button>
                            <input type="hidden" name="productId" value="<%= product.productId._id %>">
                        </form>
                            <span class="cart-item__qty--num"><%= product.quantity %></span>
                        <form action="/cart" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="cart-item__qty--button" type="submit" id="incBtn" title="increase quantity"><i class="fas fa-plus-square"></i></button>
                            <input type="hidden" name="productId" value="<%= product.productId._id %>">
                        </form>
                    </div>
                    
                    <div class="cart-item__actions">
                        <form action="/cart/delete-product" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="cart-item__actions--remove" type="submit" title="remove item">
                                <i class="fas fa-times"></i>
                            </button>
                            <input type="hidden" name="productId" value="<%= product.productId._id %>">
                        </form>
                    </div>

                </article>
                <% } %> 
                <span class="cart__total"><strong>Total:</strong> $<%= total.toFixed(2) %></span>
            </div>
            <!-- <form action="/create-order" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-lg" type="submit">
                    Checkout
                </button>
            </form> -->
            <a href="/checkout" class="btn btn-lg mt-lg">Checkout</a>
            <% } else { %> 
                <h2 class="secondary-title">Cart is empty</h2>
            <% } %> 
    </main>
    <%- include('../includes/end.ejs'); %> 