<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <%- include('../includes/navigation.ejs'); %> 
    <main class="main">
        <h1 class="primary-title">Cart</h1>
            <% if (cart.length) { %> 
            <div class="cart">
                <% for (let product of cart) { %> 
                <article class="cart-item">

                    <h1 class="cart-item__title"><a href="/product-details/<%= product.productId._id %>"><%= product.productId.title %></a></h1>

                    <div class="cart-item__description">
                        <p class="cart-item__description--text"><%= product.productId.description.slice(0, 20) %>. . .</p>
                    </div>

                    <span class="cart-item__price">$<%= product.productId.price %></span>
                    <div class="cart-item__qty">
                        <form action="/cart/decrease" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="cart-item__qty--button" type="submit">-</button>
                            <input type="hidden" name="productId" value="<%= product.productId._id %>">
                        </form>
                            <%= product.quantity %>
                        <form action="/cart" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="cart-item__qty--button" type="submit">+</button>
                            <input type="hidden" name="productId" value="<%= product.productId._id %>">
                        </form>
                    </div>
                    
                    <div class="cart-item__actions">
                        <form action="/cart/delete-product" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="cart-item__actions--remove" type="submit">
                                <i class="fas fa-times"></i>
                            </button>
                            <input type="hidden" name="productId" value="<%= product.productId._id %>">
                        </form>
                    </div>

                </article>
                <% } %> 
                <span class="cart__total"><strong>Total:</strong> $<%= total.toFixed(2) %></span>
            </div>
            <!-- <form action="/create-order" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-lg" type="submit">
                    Checkout
                </button>
            </form> -->
            <a href="/checkout" class="btn btn-lg mt-lg">Checkout</a>
            <% } else { %> 
                <h2 class="secondary-title">Cart is empty</h2>
            <% } %> 
    </main>
    <%- include('../includes/end.ejs'); %> 