<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <%- include('../includes/navigation.ejs'); %> 
    <main class="main">
        <h1 class="primary-title">Checkout</h1>
        <% if (cart.length) { %> 
        <div class="cart">
            <% for (let product of cart) { %> 
            <article class="cart-item">
                <h1 class="cart-item__title" style="margin: 0 0 0 10px"><a href="/product-details/<%= product.productId._id %>"><%= product.productId.title %></a></h1>

                <div class="cart-item__description">
                    <p class="cart-item__description--text"><%= product.productId.description.slice(0, 20) %>. . .</p>
                </div>

                <span class="cart-item__price">$<%= product.productId.price %></span>
                <div class="cart-item__qty">
                        x
                        <span style="font-size: 1.1em;"><%= product.quantity %></span>
                </div>
                <div class="cart-item__actions">
                    <i class="far fa-check-square cart-item__actions--check"></i>
                </div>
            </article>
            <% } %> 
            <span class="cart__total"><strong>Total:</strong> $<%= total.toFixed(2) %></span>
        </div>
        <div>
            <button id="order-btn" class="btn btn-lg" type="button">
                Order Now
            </button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                var stripe = Stripe('pk_test_51IgGEEDNsfgN88DjOQJjCuUG9nX4MQQbgnvyHs6p8hhZhHeuhx0wA2aITIGa0XDXya8cTSn6yozcrQahFkLsEJwy00mU1S5LGE');
                var orderBtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', () => {
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                    });
                });
            </script>
        </div>
        <% } else { %> 
            <h2 class="secondary-title">Nothing to checkout</h2>
        <% } %> 
    </main>
    <%- include('../includes/end.ejs'); %> 