<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <div class="backdrop"></div>
<header class="main-header" style="background-color: transparent; position: absolute; margin-top: 2rem;">
    <nav class='main-header__nav'>
        <a href="/" style="display: flex; align-items: center;">
            <i class="fas fa-search-dollar"></i>
            <span class="main-header__nav-brand">fleeMarket</span>
        </a>
        <ul class='main-header__navbar'>
            <li class="main-header__nav-item <%= path === '/shop' ? 'active' : '' %>">
                <a href="/shop">Shop</a>
            </li>
            <% if (isAuthenticated) { %> 
                <li class="main-header__nav-item <%= path === '/cart' ? 'active' : '' %>">
                    <a href="/cart">Cart</a>
                </li>
                <li class="main-header__nav-item <%= path === '/orders' ? 'active' : '' %>">
                    <a href="/orders">Orders</a>
                </li>
                <li class="main-header__nav-item <%= path === '/admin/add-product' ? 'active' : '' %>">
                    <a href="/admin/add-product">Add Product</a>
                </li>
                <li class="main-header__nav-item <%= path === '/admin/admin-products' ? 'active' : '' %>">
                    <a href="/admin/admin-products">Manage Products</a>
                </li>
            <% } %> 
            <% if (!isAuthenticated) { %> 
                <li class="main-header__nav-item <%= path === '/signup' ? 'active' : '' %>">
                    <a href="/signup">Signup</a>
                </li>
                <li class="main-header__nav-item <%= path === '/login' ? 'active' : '' %>">
                    <a href="/login">Login</a>
                </li>
            <% } else { %> 
                <li>
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="main-header__nav-item">Logout</button>
                    </form>
                </li>
            <% } %> 
        </ul>
    </nav>
    <a id="side-menu-toggle"><i class="fas fa-bars"></i></a>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
            <li class="mobile-nav__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
            </li>
            <% if (isAuthenticated) { %> 
                <li class="mobile-nav__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                    </a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                    </a>
                </li>
            <% } %> 
            <% if (!isAuthenticated) { %> 
                <li class="mobile-nav__item <%= path === '/signup' ? 'active' : '' %>">
                    <a href="/signup">Signup</a>
                </li>
                <li class="mobile-nav__item <%= path === '/login' ? 'active' : '' %> mt-md">
                    <a href="/login">Login</a>
                </li>
            <% } else { %> 
                <li class="mobile-nav__item">
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %> 
        </ul>
</nav> 
    <main class="index-page">
        <%- include('../includes/flash-message.ejs', { errorMessage, successMessage }) %> 
        <h1 class="index-page__primary-title">Buy and sell your goods - in a hurry!</h1>
        <p class="index-page__description">FleeMarket is an auction-style marketplace where you can bid, buy, and sell goods online</p>
        <a href="/shop" class="index-page__enter">Find your next deal!</a>

        <p class="index-page__disclaimer">(website currently undergoing facial reconstruction)</p>
    </main>
    <%- include('../includes/end.ejs'); %> 
 