<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <%- include('../includes/navigation.ejs'); %> 
    <main class="main">
        <h1 class="primary-title">Orders</h1>
        <% if (!orders.length) { %> 
            <h2 class="secondary-title">No Orders!</h1>
        <% } else { %> 
            <div>
                <ul class="checkout">
                    <% orders.forEach(order => { %> 
                        <li class="checkout__items">
                            <h1>Order #<%= order.id %></h1>
                            <ul>
                                <% order.products.forEach(product => { %> 
                                <li class="checkout__items--product"><span class="checkout__items--product-title"><%= product.title %></span> x<%= product.orderItem.quantity %></li>
                                <% }); %> 
                            </ul>
                        </li>
                    <% }); %> 
                </ul>
            </div>
        <% } %> 
    </main>
    <%- include('../includes/end.ejs'); %> 