<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <%- include('../includes/navigation.ejs'); %> 
    <main class="main">
        <h1 class="primary-title">Orders</h1>
        <% if (!orders.length) { %> 
            <h2 class="secondary-title">No Orders!</h1>
        <% } else { %> 
            <div>
                <ul class="order">
                    <% orders.forEach((order, index) => { %> 
                        <li class="order__items">
                            <h2 class="mb-md">Order #<%= index + 1 %></h2>
                            <ul>
                                <% order.products.forEach(item => { %> 
                                    <li class="order__items--product mb-sm">
                                        <span class="order__items--product-title"><%= item.product.title %></span> 
                                        x<%= item.quantity %>
                                    </li>
                                <% }); %> 
                                <li class="order__total">
                                    Total: $<%= order.total.toFixed(2); %> 
                                </li>
                            </ul>
                        </li>
                    <% }); %> 
                </ul>
            </div>
        <% } %> 
    </main>
    <%- include('../includes/end.ejs'); %> 