<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <%- include('../includes/navigation.ejs'); %> 
    <main class="main">
        <h1 class="primary-title"><%= product.title %></h1>
        <article class="card product__item">
            <div class="card__image mt-md">
                <img src="<%= product.image.url %>" alt="<%= product.title %>">
            </div>
            <div class="card__content">
                <h2 class="card__price">$<%= product.price %></h2>
                <p class="card__description"><%= product.description %></p>
            </div>
            <div class="card__actions">
                <% if (isAuthenticated) { %> 
                    <%- include('../includes/add-to-cart.ejs') %>
                <% } %> 
            </div>
        </article>
    </main>
    <%- include('../includes/end.ejs'); %> 