<%- include('../includes/head.ejs'); %> 

</head>
<body>
    <%- include('../includes/navigation.ejs'); %> 
    <main class="main">
        <h1 class="primary-title">Shop</h1>
        <% if (products.length) { %> 
            <div class="product">
                <% for (product of products) { %> 
                    <article class="card product__item">
                        
                        <div class="card__image">
                            <a href="/product-details/<%= product._id %> ">
                                <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                            </a>
                            <% if (isAuthenticated) { %> 
                                <%- include('../includes/add-to-cart.ejs') %> 
                            <% } %> 
                        </div>
                        <header class="card__header">
                            <h1 class="card__title"><%= product.title %></h1>
                            <small><%= product.owner.name %></small>

                        </header>
                        <div class="card__content">
                            <h2 class="card__price">CA$<%= product.price %></h2>
                            <p class="card__description"><%= product.description.slice(0,100); %></p>
                        </div>
                    </article>
                <% } %> 
            </div>
            <%- include('../includes/pagination.ejs', pageInfo); %> 
        <% } else { %> 
            <h2 class="secondary-title">No Products Found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs'); %> 